.select,
::picker(select) {
  appearance: base-select;
  overflow: hidden;
  border: none;
}
::picker(select) {
  border: 1px solid var(--color-gray-15);
}

.select > option {
  background: var(--color-gray-10);
  color: white;
  border: none;
  padding: 0.5em;
}

.select > option:checked,
.select > option:hover {
  background: var(--color-gray-15);
}
