@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gray-08: #141414;
  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4d4d4d;
  --color-gray-40: #666666;
  --color-gray-50: #808080;
  --color-gray-60: #999999;

  --color-purple-60: #6937e8;
  --color-purple-65: #1a64ff;
  --color-purple-70: #ff9533;
  --color-purple-75: #ffca99;
  --color-purple-90: #ffe4cc;
  --color-purple-95: #fff1e5;
  --color-purple-97: #fff7f0;
  --color-purple-99: #fffcfa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: black; */
  color: var(--foreground);
  font-family: Urbanist;
}

.link {
  padding: 15px 20px;
  background: var(--color-gray-08);
  border: 1px solid var(--color-gray-30);
  border-radius: 10px;
}

.link-fill {
  padding: 15px 20px;
  background: var(--color-purple-60);
  border-radius: 10px;
}
